{% extends 'base.html' %}
{% load static %}
{% block title %}
  <title>Document</title>
{% endblock title %}
{% block content %}
  <div class="container h-100 d-flex flex-column">
    <div class="row flex-grow-1" style='border:1px solid gold'>
      <div class="col-2">
        <div class="row">
          <div class="form-group">
            <label for="inputAddress">주소</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="">
          </div>
        </div>
        <div class="row">
          <ul class="list-group">
            <li class="list-group-item">동물병원
              <span class="badge badge-primary badge-pill">14</span>
            </li>
            <li class="list-group-item">동물미용샵</li>
            <li class="list-group-item">동물호텔</li>
          </ul>
        </div>
      </div>
      <div class="col-10">
        <div id="map" style="width:100%;height:600px;"></div>
      </div>

    </div>
  </div>

{% endblock content %}
{% block script %}
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey={{KAKAO_API_KEY}}"></script>
  <script>
    function kakaomap(lat, lon) {
      var container = document.getElementById('map');
      console.log(lat,lon)
      var options = {
        center: new kakao
          .maps
          .LatLng(lat, lon),
        level: 3
      };
      var map = new kakao
        .maps
        .Map(container, options);
    };

    if (!navigator.geolocation) {
      alert("지오로케이션을 지원하지 않습니다!");
      var latitude = 33.450701;
      var longitude = 126.570667;
      kakaomap(latitude,longitude)
    };
    function success(position) {
      var latitude = position.coords.latitude;
      var longitude = position.coords.longitude;
      kakaomap(latitude,longitude)
    };
    function error() {
      alert("사용자의 위치를 찾을 수 없습니다!");
      var latitude = 33.450701;
      var longitude = 126.570667;
      kakaomap(latitude,longitude)
    };
    navigator.geolocation.getCurrentPosition(success, error);   

  </script>
{% endblock script %}