{% extends 'base.html' %}
{% load static %}
{% block style %}
<style>
  .map_wrap, .map_wrap * {margin:0;padding:0;font-family:'Malgun Gothic',dotum,'돋움',sans-serif;font-size:12px;}
  .map_wrap a, .map_wrap a:hover, .map_wrap a:active{color:#000;text-decoration: none;}
  .map_wrap {position:relative;width:100%;height:600px;}
  #menu_wrap {position:absolute;top:0;left:0;bottom:0;width:250px;margin:10px 0 30px 10px;padding:5px;overflow-y:auto;background:rgba(255, 255, 255, 0.9);z-index: 1;font-size:12px;border-radius: 10px;}
  .bg_white {background:#fff;}
  .invisible {visibility: hidden;}
  #placesList li {list-style: none;}
  #placesList .item {position:relative;border-bottom:1px solid #888;overflow: hidden;cursor: pointer;min-height: 65px;}
  #placesList .item span {display: block;margin-top:4px;}
  #placesList .item h5, #placesList .item .info {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
  #placesList .item .info{padding:10px 0 10px 55px;}
  #placesList .info .gray {color:#8a8a8a;}
  #placesList .info .jibun {padding-left:26px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;}
  #placesList .info .tel {color:#009900;}
  #placesList .item .markerbg {float:left;position:absolute;width:36px; height:37px;margin:10px 0 0 10px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;}
  #placesList .item .marker_1 {background-position: 0 -10px;}
  #placesList .item .marker_2 {background-position: 0 -56px;}
  #placesList .item .marker_3 {background-position: 0 -102px}
  #placesList .item .marker_4 {background-position: 0 -148px;}
  #placesList .item .marker_5 {background-position: 0 -194px;}
  #placesList .item .marker_6 {background-position: 0 -240px;}
  #placesList .item .marker_7 {background-position: 0 -286px;}
  #placesList .item .marker_8 {background-position: 0 -332px;}
  #placesList .item .marker_9 {background-position: 0 -378px;}
  #placesList .item .marker_10 {background-position: 0 -423px;}
  #placesList .item .marker_11 {background-position: 0 -470px;}
  #placesList .item .marker_12 {background-position: 0 -516px;}
  #placesList .item .marker_13 {background-position: 0 -562px;}
  #placesList .item .marker_14 {background-position: 0 -608px;}
  #placesList .item .marker_15 {background-position: 0 -654px;}
  #pagination {margin:10px auto;text-align: center;}
  #pagination a {display:inline-block;margin-right:10px;}
  #pagination .on {font-weight: bold; cursor: default;color:#777;}
</style>
{% endblock style %}
{% block title %}
  <title>map</title>
{% endblock title %}
{% block content %}
  <div class="container h-100 d-flex flex-column">
    <div class="row flex-grow-1" style='border:1px solid gold'>
      <div class="col-2">
        <div class="row">
          <form method="post">
            <div class="form-group mb-2">
              {% csrf_token %}
              <label for="inputAddress">주소</label>
              <input type="text" class="form-control" id="inputAddress" placeholder="" name="address" required>
            </div>
            <button type="submit" class="btn btn-primary mb-2">이동</button>
          </form>
        </div>
        <div class="row">
          <ul class="list-group col" id="searchtermlist"></ul>
        </div>
      </div>
      <div class="col-10">
        <div id="map_info"></div>
        <div class="map_wrap">
          <div id="map" style="width:100%;height:100%;position:relative;overflow:hidden;"></div>
      
          <div id="menu_wrap" class="bg_white invisible">
              <ul id="placesList"></ul>
              <div id="pagination"></div>
          </div>
      </div>
      </div>

    </div>
  </div>

{% endblock content %}
{% block script %}
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey={{KAKAO_API_KEY}}&libraries=services"></script>
  <script>
    //지도 이동
    function panTo(lat,lon) {
      var movelocation = new kakao.maps.LatLng(lat,lon);
      map.panTo(movelocation);
    };

    // 현재 위치 불러오기
    function currentposmap() {
      if (!navigator.geolocation) {
        alert("지오로케이션을 지원하지 않습니다!");
        var latitude = 33.450701;
        var longitude = 126.570667;
        panTo(latitude,longitude);
      };
      function _success(position) {
        var latitude = position.coords.latitude;
        var longitude = position.coords.longitude;
        panTo(latitude,longitude);
      };
      function _error() {
        alert("사용자의 위치를 찾을 수 없습니다!");
        var latitude = 33.450701;
        var longitude = 126.570667;
        panTo(latitude,longitude);
      };
      navigator.geolocation.getCurrentPosition(_success, _error);
    };

    // 장소검색이 완료됐을 때 호출되는 콜백함수
    function placesSearchCB(data, status, pagination) {
      if (status === kakao.maps.services.Status.OK) {

          // 정상적으로 검색이 완료됐으면
          // 검색 목록과 마커를 표출
          displayPlaces(data);

          // 페이지 번호를 표출
          displayPagination(pagination);

      } else if (status === kakao.maps.services.Status.ZERO_RESULT) {

          alert('검색 결과가 존재하지 않습니다.');
          return;

      } else if (status === kakao.maps.services.Status.ERROR) {

          alert('검색 결과 중 오류가 발생했습니다.');
          return;

      }
    }

    // 검색 결과 목록과 마커를 표출하는 함수입니다
    function displayPlaces(places) {

      var listEl = document.getElementById('placesList'), 
      menuEl = document.getElementById('menu_wrap'),
      fragment = document.createDocumentFragment(), 
      bounds = map.getBounds(),
      //bounds = new kakao.maps.LatLngBounds(), 
      listStr = '';
      
      // 검색 결과 목록에 추가된 항목들을 제거합니다
      removeAllChildNods(listEl);

      // 지도에 표시되고 있는 마커를 제거합니다
      removeMarker();
      
      for ( var i=0; i<places.length; i++ ) {

          // 마커를 생성하고 지도에 표시합니다
          var placePosition = new kakao.maps.LatLng(places[i].y, places[i].x),
              marker = addMarker(placePosition, i), 
              itemEl = getListItem(i, places[i]); // 검색 결과 항목 Element를 생성합니다

          // 마커와 검색결과 항목에 mouseover 했을때
          // 해당 장소에 인포윈도우에 장소명을 표시합니다
          // mouseout 했을 때는 인포윈도우를 닫습니다
          (function(marker, title) {
              kakao.maps.event.addListener(marker, 'mouseover', function() {
                  displayInfowindow(marker, title);
              });

              kakao.maps.event.addListener(marker, 'mouseout', function() {
                  infowindow.close();
              });

              itemEl.onmouseover =  function () {
                  displayInfowindow(marker, title);
              };

              itemEl.onmouseout =  function () {
                  infowindow.close();
              };
          })(marker, places[i].place_name);

          fragment.appendChild(itemEl);
      }

      // 검색결과 항목들을 검색결과 목록 Element에 추가합니다
      listEl.appendChild(fragment);
      menuEl.scrollTop = 0;
    }

    // 검색결과 항목을 Element로 반환하는 함수입니다
    function getListItem(index, places) {

      var el = document.createElement('li'),
      itemStr = '<span class="markerbg marker_' + (index+1) + '"></span>' +
                  '<div class="info">' +
                  '   <h5>' + places.place_name + '</h5>';

      if (places.road_address_name) {
          itemStr += '    <span>' + places.road_address_name + '</span>' +
                      '   <span class="jibun gray">' +  places.address_name  + '</span>';
      } else {
          itemStr += '    <span>' +  places.address_name  + '</span>'; 
      }
                  
        itemStr += '  <span class="tel">' + places.phone  + '</span>' +
                  '</div>';           

      el.innerHTML = itemStr;
      el.className = 'item';

      return el;
    }

    // 마커를 생성하고 지도 위에 마커를 표시하는 함수입니다
    function addMarker(position, idx, title) {
      var imageSrc = 'https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png', // 마커 이미지 url, 스프라이트 이미지를 씁니다
          imageSize = new kakao.maps.Size(36, 37),  // 마커 이미지의 크기
          imgOptions =  {
              spriteSize : new kakao.maps.Size(36, 691), // 스프라이트 이미지의 크기
              spriteOrigin : new kakao.maps.Point(0, (idx*46)+10), // 스프라이트 이미지 중 사용할 영역의 좌상단 좌표
              offset: new kakao.maps.Point(13, 37) // 마커 좌표에 일치시킬 이미지 내에서의 좌표
          },
          markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imgOptions),
              marker = new kakao.maps.Marker({
              position: position, // 마커의 위치
              image: markerImage 
          });

      marker.setMap(map); // 지도 위에 마커를 표출합니다
      markers.push(marker);  // 배열에 생성된 마커를 추가합니다

      return marker;
    }

    // 검색결과 목록 하단에 페이지번호를 표시는 함수입니다
    function displayPagination(pagination) {
      var paginationEl = document.getElementById('pagination'),
          fragment = document.createDocumentFragment(),
          i; 

      // 기존에 추가된 페이지번호를 삭제합니다
      while (paginationEl.hasChildNodes()) {
          paginationEl.removeChild (paginationEl.lastChild);
      }

      for (i=1; i<=pagination.last; i++) {
          var el = document.createElement('a');
          el.href = "#";
          el.innerHTML = i;

          if (i===pagination.current) {
              el.className = 'on';
          } else {
              el.onclick = (function(i) {
                  return function() {
                      pagination.gotoPage(i);
                  }
              })(i);
          }

          fragment.appendChild(el);
      }
      paginationEl.appendChild(fragment);
    }

    // 검색결과 목록 또는 마커를 클릭했을 때 호출되는 함수입니다
    // 인포윈도우에 장소명을 표시합니다
    function displayInfowindow(marker, title) {
      var content = '<div style="padding:5px;z-index:1;">' + title + '</div>';

      infowindow.setContent(content);
      infowindow.open(map, marker);
    }


    // 지도 위에 표시되고 있는 마커를 모두 제거합니다
    function removeMarker() {
      for ( var i = 0; i < markers.length; i++ ) {
          markers[i].setMap(null);
      }   
      markers = [];
    }
    // 검색결과 목록의 자식 Element를 제거하는 함수입니다
    function removeAllChildNods(el) {   
      while (el.hasChildNodes()) {
          el.removeChild (el.lastChild);
      }
    }

    // 장소 개수만 반환하기 위한 콜백함수
    // 결과 개수만 가져오기 위해 매번 전체 데이터를 가져오는게 비효율적인데, 카카오맵api에서 갯수만 가져오는 쿼리를 못찾겠다.
    function updateSearchCountCB(data, status, pagination) {
      if (status === kakao.maps.services.Status.OK) {
        searchCount = data.length
        console.log('콜백함수',searchCount)
        return;

        let curbounds = map.getBounds(); // 현재 맵 바운더리 가져오기
        console.log('현재바운즈',curbounds)
        var searchtermlist = document.getElementById('searchtermlist');
        var stringItem = '';
        for (const [key, value] of Object.entries(term_dict)) {
          // keywordSearch사용해 검색, 콜백에서 결과 길이만 반환
          ps.keywordSearch(key, updateSearchCountCB, {
            bounds : curbounds
          });
          console.log(searchCount);
          strFrag = '<li class="list-group-item" searchterm="' + key + '">' + value +
            '<span class="badge badge-primary badge-pill">' + searchCount + '</span>' +
          '</li>';
          stringItem = stringItem.concat(strFrag);
        }
        searchtermlist.innerHTML = stringItem
  
        
      } else if (status === kakao.maps.services.Status.ZERO_RESULT) {
        console.log('콜백함수검색0',searchCount)
        searchCount = 0
        return;

      } else if (status === kakao.maps.services.Status.ERROR) {
        searchCount = 'err'
        return;

      } 
    }

    // 검색어 리스트를 구축하는 함수
    function createSearchList() {
      //let curbounds = map.getBounds(); // 현재 맵 바운더리 가져오기
      //console.log('현재바운즈',curbounds)
      var searchtermlist = document.getElementById('searchtermlist');
      var stringItem = '';
      for (const [key, value] of Object.entries(term_dict)) {
        // keywordSearch사용해 검색, 콜백에서 결과 길이만 반환
       // ps.keywordSearch(key, updateSearchCountCB, {
        //  bounds : curbounds
        //});
        //console.log(searchCount);
        strFrag = '<li class="list-group-item" searchterm="' + key + '">' + value +
          '<span class="badge badge-primary badge-pill"></span>' +
        '</li>';
        stringItem = stringItem.concat(strFrag);
      }
      searchtermlist.innerHTML = stringItem
    }

    function updateSearchCount() {

    }

  </script>




  <script>
    // 마커를 담을 배열
    var markers = [];

    // 검색제목과 검색어 dict
    var term_dict = {'동물병원':'동물병원', '애완동물 미용':'동물미용샵', '애완동물 호텔':'동물호텔'};

    //지도 생성
    var container = document.getElementById('map');
    var options = {
      center: new kakao.maps.LatLng(33.450701, 126.570667),
      level: 3
    };
    var map = new kakao.maps.Map(container, options);

    // 장소 검색 객체를 생성합니다
    var ps = new kakao.maps.services.Places();

    // 검색 결과 목록이나 마커를 클릭했을 때 장소명을 표출할 인포윈도우를 생성합니다
    var infowindow = new kakao.maps.InfoWindow({zIndex:1});

    // 초기 검색어 리스트 생성
    var searchCount = 0;
    createSearchList(term_dict);


    // 이동 버튼 클릭 시 ajax
    $('.btn-primary').on('click', function(e) {
      e.preventDefault();

      let csrf = $('[name="csrfmiddlewaretoken"]').val();

      let param = {
        address : $("#inputAddress").val(),
        csrfmiddlewaretoken : csrf
      }

      $.ajax({
        type : 'post',
        url : "{% url 'ajax_test' %}",
        data : param,
        dataType : 'json',
        success : function(data){
          var lat = data['lat'];
          var lon = data['lon'];
          $('#map_info').html(lat,lon);
          if (data['lat'] == 2){
            // alert('잘못된 주소입니다.');
            $('#map_info').html('잘못된 주소입니다.')
          } else {
            // menu 조건부 보여주기 (메뉴제거)
            if(!$('#menu_wrap').hasClass('invisible')){
              $("#menu_wrap").addClass("invisible");
            }
            var listEl = document.getElementById('placesList');
            
            // 검색 결과 목록에 추가된 항목들을 제거
            removeAllChildNods(listEl);
      
            // 지도에 표시되고 있는 마커를 제거
            removeMarker();

            // 지도 이동
            panTo(lat,lon);

            // 이동 후 각 검색어 count 업데이트
            //createSearchList();
          }
        },
        error : function(res,e){
          $('#map_info').html('ajax오류입니다.')
          console.log(res.responseText);
        }
      })
    })

    // li 클릭 시
    $('.list-group-item').on('click', function(e) {

      let searchterm = $(this).attr("searchterm");
      let curbounds = map.getBounds();

      console.log(map.getBounds());

      // 키워드로 장소를 검색합니다
      ps.keywordSearch(searchterm, placesSearchCB, {
        bounds : curbounds
      });

      // menu 조건부 보여주기 (메뉴추가)
      if($('#menu_wrap').hasClass('invisible')){
        $("#menu_wrap").removeClass("invisible");
      }

    })
  </script>

{% endblock script %}